@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&family=Rubik:wght@300&display=swap');


body {
    font-family: 'Raleway', Roboto, Rubik;
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease infinite;
	background-size: 400% 400%; */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
  width: 20%;
}
/* mobile **************************/
header {
  max-width: 800px;
  margin: 0 auto;
  animation: gradient 15s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #CB2A3F, #CB6C18);
  background-size: 400% 400%;
}

main {
  max-width: 767px;
  margin: 0 auto;
  padding: 1%;
}

h1 {
  font-size: 2rem;
  margin: auto;
  color: #fff;
  text-align: center;
}

h2 {
  text-align: center;
  padding: 1%;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

h3 {
  text-align:center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #CB2A3F, #CB6C18);
  color: #fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

nav {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #CB2A3F, #CB6C18);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
	margin: 0 auto;
	max-width: 800px;
}

nav ul {
	list-style-type: none;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	background-color: #fff;
    color: #E76f51;
}

.card {
  background: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 767px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card ul {
  list-style-type: none;
  margin: 20px;
}

.card p {
	margin: 20px;
}

footer {
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #CB2A3F, #CB6C18);
  color: #fff;
  margin: 0 auto;
  max-width: 767px;
  padding: 10px;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}